tr.myData {
	background-color: yellow;
}
tr.myData td {
	border-color: black;
	border-style: solid;
	border-width: 1px;
}

.nav-tabs>li.logout {
	float: right;
}

table.matchTable>tr>th,
table.matchTable>tr>td {
	vertical-align: middle;
	text-align: center;
}

